<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Correios-Api" version="1.1.1" targetFramework="net461" />
  <package id="DotCEP" version="1.2.3" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net461" />
  <package id="Spartacus" version="0.44.1" targetFramework="net461" />
</packages>